<img src="https://habrastorage.org/webt/ia/m9/zk/iam9zkyzqebnf_okxipihkgjwnw.jpeg" />
    
**<center>[mlcourse.ai](https://mlcourse.ai) – Open Machine Learning Course** </center><br>
Authors: Arina Lopukhova (@erynn), and [Yury Kashnitsky](https://yorko.github.io) (@yorko). Edited by Vadim Shestopalov (@vchulski). [mlcourse.ai](https://mlcourse.ai) is powered by [OpenDataScience (ods.ai)](https://ods.ai/) © 2017—2022

# <center>Assignment #1. Task </center> <a class="tocSkip">
## <center>Exploratory Data Analysis (EDA) of Olympic games with Pandas </center> <a class="tocSkip">
    
<img src="https://habrastorage.org/webt/my/70/d9/my70d97xhwfj8krp2q2qmn_smww.png" width=50%>



```
# This is formatted as code
```

There are ten questions about 120 years of Olympic history in this assignment.

### Your task is to:
 1. write code and perform computations in the cells below;
 2. choose answers in the [webform](https://docs.google.com/forms/d/1SJcNJxnY5Wwb_sDSxmb-FyghraeOt-ZmQMA0XzOLu4I).

*If you are sure that something is not 100% correct with the assignment/solution, please leave your feedback via the mentioned webform ↑*

-----

In [13]:
from pathlib import Path
import numpy as np
import pandas as pd

In [4]:
PATH_TO_DATA = Path("..")

In [6]:
df = pd.read_csv(PATH_TO_DATA / "athlete_events.csv.zip", index_col="ID")
df.head(5)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [8]:
df.shape

(271116, 14)

 The dataset has the following features:

- __ID__ – Unique number for each athlete
- __Name__ – Athlete's name
- __Sex__ – M or F
- __Age__ – Integer
- __Height__ – In centimeters
- __Weight__ – In kilograms
- __Team__ – Team name
- __NOC__ – National Olympic Committee 3-letter code
- __Games__ – Year and season
- __Year__ – Integer
- __Season__ – Summer or Winter
- __City__ – Host city
- __Sport__ – Sport
- __Event__ – Event
- __Medal__ – Gold, Silver, Bronze, or NA

**<font color='red'>Question 1.</font> How old were the youngest male and female participants of the 1992 Olympics?**

- 16 and 15
- 14 and 13
- 13 and 11
- 11 and 12

In [15]:
df[df['Year']==1992].groupby(by=['Sex'])['Age'].agg(np.min)

# C: 11 and 12

<ipython-input-15-fb56efe0696f>:1: FutureWarning: The provided callable <function min at 0x7ec8fe3e4820> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df[df['Year']==1992].groupby(by=['Sex'])['Age'].agg(np.min)

Sex
F    12.0
M    11.0
Name: Age, dtype: float64

**<font color='red'>Question 2.</font>** What was the percentage of male

1.   List item
2.   List item



---

basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.**

*Hint:* drop duplicate athletes where necessary to count each athlete just once. This applies to other questions as well.

- 0.2
- 1.5
- 2.5
- 7.7

In [25]:
all = df[(df['Sex']=='M') & (df['Year']==2012)].shape[0]
spec = df[(df['Sex']=='M') & (df['Year']==2012) & (df['Sport']=='Basketball')].shape[0]

round(spec/all,3)

# A: 0.02

0.02

**<font color='red'>Question 3.</font> What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? Round the answer to the first decimal.**

- 171.8 and 6.5
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [26]:
df.sample()

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
101779,Jennifer Jill Rodriguez,F,29.0,162.0,58.0,United States,USA,2006 Winter,2006,Winter,Torino,Speed Skating,"Speed Skating Women's 1,500 metres",NaN

In [33]:
dset = df[(df['Sex']=='F') & (df['Sport']=='Tennis') & (df['Year']== 2000)]['Height']
print("std={}, mean={}".format(dset.std(), dset.mean()))

# A: 171.8 and 6.5

std=6.4586725890776675, mean=171.792

**<font color='red'>Question 4.</font> Find the heaviest athlete among 2006 Olympics participants. What sport did he or she do?**

- Judo
- Bobsleigh
- Skeleton
- Boxing

In [39]:
df[df['Year']==2006]['Weight'].agg(np.max)
df[(df['Year']==2006) & (df['Weight']==127.0)]

# C: Skeleton

<ipython-input-39-7e72983b692e>:1: FutureWarning: The provided callable <function max at 0x7ec8fe3e4700> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df[df['Year']==2006]['Weight'].agg(np.max)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
4476,Patrick R. Antaki,M,41.0,185.0,127.0,Lebanon,LIB,2006 Winter,2006,Winter,Torino,Skeleton,Skeleton Men's Skeleton,NaN

**<font color='red'>Question 5.</font> How many times did John Aalberg participate in the Olympics held in different years?**

- 0
- 1
- 2
- 3

In [41]:
len(df[df.Name == "John Aalberg"].groupby("Year"))

2

**<font color='red'>Question 6.</font> How many gold medals in tennis did the Switzerland team win at the 2008 Olympics?**

- 0
- 1
- 2
- 3

In [42]:
q = '(Year == 2008) & (Team == "Switzerland") & (Medal == "Gold") & (Sport == "Tennis")'
df.query(q).shape[0]

2

**<font color='red'>Question 7.</font>  Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in the _Medal_ column.**

- Yes
- No

In [43]:
spain_medals = len(
    df.query('(Year == 2016) & (Team == "Spain")').dropna(subset=["Medal"])
)

italy_medals = len(
    df.query('(Year == 2016) & (Team == "Italy")').dropna(subset=["Medal"])
)

spain_medals, italy_medals

(43, 70)

**<font color='red'>Question 8.</font> What are the least and most common age groups among the participants of the 2008 Olympics?**
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45) and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [44]:
def age_category(age):
    """Maps age to four categories"""

    if 15 <= age < 25:
        return "[15, 25)"
    elif 25 <= age < 35:
        return "[25, 35)"
    elif 35 <= age < 45:
        return "[35, 45)"
    elif 45 <= age <= 55:
        return "[45, 55]"


# map() applies age_category() function to every value in dfAge
df["age_category"] = df.Age.map(age_category)
(df[df.Year == 2008].drop_duplicates(subset="Name").groupby("age_category").size())

age_category
[15, 25)    4776
[25, 35)    5373
[35, 45)     630
[45, 55]      78
dtype: int64

**<font color='red'>Question 9.</font> Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?**

- Yes, Yes
- Yes, No
- No, Yes
- No, No

In [45]:
pd.crosstab(df.City, df.Season).loc[["Atlanta", "Squaw Valley"]]

Season        Summer  Winter
City
Atlanta        13780       0
Squaw Valley       0    1116

**<font color='red'>Question 10.</font> What is the absolute difference between the number of unique sports at the 1994 Olympics and 2002 Olympics?**

- 3
- 10
- 15
- 27

In [46]:
abs(df[df.Year == 1994].Sport.nunique() - df[df.Year == 2002].Sport.nunique())

3